# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.28.0'
DFX_NETWORK='local'
CANISTER_CANDID_PATH_BACKEND='/home/fiala/Github/chain_notary/backend/backend.did'
CANISTER_ID_FRONTEND='u6s2n-gx777-77774-qaaba-cai'
CANISTER_ID_BACKEND='uxrrr-q7777-77774-qaaaq-cai'
CANISTER_ID='u6s2n-gx777-77774-qaaba-cai'
CANISTER_CANDID_PATH='/home/fiala/Github/chain_notary/.dfx/local/canisters/frontend/assetstorage.did'
# END DFX CANISTER ENVIRONMENT VARIABLES

# Gemini API Configuration
# Get your API key from: https://ai.google.dev/gemini-api/docs/api-key
GEMINI_API_KEY=your_gemini_api_key_here
